# Database settings
DB_DIALECT=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# JWT settings
JWT_EXPIRED=
JWT_SECRET_KEY=

# Salt for password
PASSWORD_SALT=

# Admin user credentials
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Nodemailer settings
EMAIL_ID=
EMAIL_PASSWORD=

TEST_EMAIL_FOR_GET_MAIL=

OAUTH_CLIENTID=
OAUTH_CLIENT_SECRET=
OAUTH_REFRESH_TOKEN=